:root {
  --main-bg-color: #fff;
  --main-text-color: #fff;
  --second-text-color: #bbbec5;
  --second-bg-color: #EFEAD8;
}
.p-3 .d-flex > div:first-child {
  margin-right: 10px; /* Sesuaikan margin kanan gambar jika perlu */
}


.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #EFEAD8,
    #EFEAD8,
    #EFEAD8,
    #EFEAD8,
    #EFEAD8
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  width: 60vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background: #1B262C;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.7px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.800rem 1.25rem;
  font-size: 1rem;
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;

}
.list-group-item img {
  margin-right: 10px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.table-extend {
  height: 80vh;
}

.radius {
  border-radius: 20px !important;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.white-image {
    filter: brightness(0) invert(1);
}

.logout-icon {
  width: 1em; /* or adjust the size as needed */
  height: 1em; /* or adjust the size as needed */
  vertical-align: middle;
  filter: brightness(0) invert(1);
  margin-right: 5px; /* Adjust the margin as needed for the desired spacing */
}


